name: Build and Deploy Docker Image

on:
  push:
    tags:
      - main
      - staging
      - "feature/**"
      - "patch/**"
      - "ci/**"
      - "doc/**"
      - "performance/**"
      - "refactor/**"
  workflow_dispatch:
env:
  DOCKER_REGISTRY: ${{ vars.DOCKER_REGISTRY }}
  DOCKER_IMAGE_NAME: ${{ vars.DOCKER_IMAGE_NAME }}
jobs:
  dockerhub-push:
    if: |
      github.event_name == 'workflow_dispatch' ||
      github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Fetch all history for proper version calculation

      - name: Docker metadata
        id: meta
        if: success()
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.DOCKER_REGISTRY }}/${{ env.DOCKER_IMAGE_NAME }}

      - name: Login to DockerHub
        if: success()
        id: login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        id: build_push
        if: success()
        uses: docker/build-push-action@v6
        with:
          context: .
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
    
